html {
    height: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    height: 90vh;
    position: relative;
    background-image: url("../images/assets/background.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100%;
}

#game {
    width: 683px;
    margin: 0 auto;
    margin-top: 20px;
}

.logo {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.hide {
    display: none
}

.controls {
    position: absolute;
    bottom: -32px;
    left: 64%;
}

canvas {
    background: transparent;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 684px;
    height: 384px;
}

.leader {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 25vw;
    background-color: white;
    z-index: -1;
}

.leader-pic{
    position: absolute;
    z-index: -10;
    width: 55vw;
    top: -34vh;
    left: -16vw;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent !important; 
    border: 0 !important;
    color: #0b3844;
}

.list-group-item:nth-child(-n+3){
    color: white;
}

.list-group{
    margin-top: 50px;
    margin-left: 10px;
}

.gameName {
    position: absolute;
    left: 15%;
    width: 30%;
}

.instructions,.landing,.game-over {
    position: absolute;
    left: 62px;
    top: 80px;
    width: 53vw !important;
    height: 65vh !important
}

.col {
    padding: 0 !important;
}


.okBtn,
.playBtn,
#answerQuiz {
    background-color: #92D400;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    float: right;
    opacity: 1;
}

.hintBtn {
    background-color: #fff;
    color: gray;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    float: left;
    opacity: 1;
}

.playBtn {
    position: absolute;
    top: 80%;
    left: 50%;
}

.questions {
    display: none;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.entity {
    position: relative;
    min-height: 65vh;
    width: 55vw !important;
    top: 80px;
    left: 40px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

/* .entity input{
    position: absolute;
    left: 20%;
    margin-bottom: 20px;
} */

.entity label{
    cursor: pointer;
    white-space: normal;
    width: 95%;
} 

.questionCounter {
    position: absolute;
    right: 20px;
    top: -15%;
}

.hintBtn {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.qBody{
    padding: 15px 16px;
    min-width: 55vw;
    background-color: #ccc;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.options{
    position: absolute;
    top: 35%;
    left: 10%
}

#answerQuiz {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.correctAns{
    color: #92D400;
}

.wrongAns{
    color: red;
}

.options span{
    white-space: nowrap;
}

.card{
    background-color: #2a2a2a;
}

form{
    width: 50%;
    margin: 0 auto;
}

.okBtn{
    width: 50%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.form-group label{
    color: white;
    margin-bottom: 0 !important;
}

.landing .row{
    height: 100%;
}

.finalScore{
    color: red;
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 60%;
}

.form-error{
    color: red;
}

.landing{
    width: 50vw !important;
    height: 70vh !important;
}

.hint{
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 15%;
}

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
    .instructions,.landing,.game-over{
        width: 53vw;
        height: 50vh;
    }
}

@media screen and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  .leader-pic{
      top: -32.5vw;
  }  
}